{
  "presets": ["babel-preset-es2015", "babel-preset-react"],
  "plugins": [
      "add-react-displayname",
      "transform-class-properties",
      "transform-object-rest-spread",
      [
          "babel-plugin-transform-imports",
          {
              "seek-style-guide/react": {
                  "transform": "seek-style-guide/react/${member}/${member}",
                  "preventFullImport": true
              }
          }
      ]
  ]
}