@import (reference) "~seek-style-guide/theme";

.flexRight {
    flex-grow: 1;
    text-align: right;
}

.paymentInfoWrapper {
    @media only screen and (min-width: @responsive-breakpoint) {
        display: flex;
        justify-content: space-between;
    }
}

.lineItemsWrapper {
    @media only screen and (min-width: @responsive-breakpoint) {
        flex-grow: 1;
        margin-right: @grid-gutter-width;
    }
}

.cardInfoWrapper {
    @media only screen and (min-width: @responsive-breakpoint) {
        width: 350px;
    }
}

.lineItemWrapper {
    display: flex;
}

.lineItemPrice {
    .flexRight();
}

.paymentActionWrapper {
    @media only screen and (min-width: @responsive-breakpoint) {
        display: flex;
        justify-content: space-between;
    }
}

.totalWrapper {
    @media only screen and (min-width: @responsive-breakpoint) {
        flex-grow: 1;
        margin-right: @grid-gutter-width;
    }
}

.totalItemWrapper {
    display: flex;
}

.totalItemPrice {
    .flexRight();
}

.cardWrapper {
    display: flex;
}

.creditCardLogo {
    background-image: url('./VISA-logo.png');
    background-size: cover;
    width: 102px;
    height: 54px;
    margin-top: @grid-row-height;
    margin-right: @grid-gutter-width;
}

.creditCardText {
    .flexRight();
}

.actionButtons {
    display: flex;
    justify-content: space-between;

    @media only screen and (min-width: @responsive-breakpoint) {
        width: 350px;
        align-items: flex-end;
    }
}